
.Box{
    width: 18rem ;
    margin: 15px ;
    background-color: black !important;
    color: white;
    /* align-items: c; */
}



.line{
    text-decoration:line-through;
  }
  
  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: rgb(0, 255, 42);
  }
  .off {
    color: rgba(178, 202, 166, 0.795);
  }

.price{
    color: yellow;
}